@charset "utf-8";
/* 도깨비 PJ 메인페이지 CSS - main.css */
/* 메인페이지에서만 적용되는 CSS  */

/* 외부 CSS합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 컨텐츠 파트 최상위 부모 */
body{
    /* 한번에 배경주기 background: 색이반고윙/크; */
    background: 
    url(../images/bg_logo_a_01.png) no-repeat fixed 10% 30%/10%,
    url(../images/bg_mainvisual.jpg) no-repeat fixed center/cover
    ;
    /* 로고이미지 가로위치 10%, 세로위치 30% 가로크기 10% 세로크기 auto(생략)*/
}

/* 캐릭터박스 */

.cont{
    padding-top: 500px;
    /* 상단 패딩: 첫번째 요소위치밀기의 기본
    첫번쨰 요소에 마진탑으로 위치를 이동할 경우
    부모요소 바깥으로 마진이 나감(원래 디자인 속성임)
    마진을 포함하려면 부모요소에 overflow:hidden을 주면 포함되지만 
    !첫번째 요소!의 위치는 부모의 패딩으로 밀어주는것이 정석이다 */

    box-sizing: border-box;
    /* 일반적인 박스는 content-box이며 가로, 세로 크기를 설정할 경우
    그 크기는 컨텐트 영역의 크기다!
    박스의 보더와 패딩을 제외한 내용영역을 컨텐트 영역이라고 한다!
    패딩과 보더를 포함하여 크기를 정하려면
    box-sizing: border-box; 라고 세팅하면 된다*/
}

.cbx{
    width: 90%; 
    margin: 0 auto;
}

/* float자식의 부모에 가상요소로 clear설정 */
.cbx::after{
    content: '';
    display: block;
    clear: both;
}

/* 캐릭터 개별박스 공통 */
.cat{
    /* 가로크기 4등분 */
    width: 24%;
    margin: 0 .5%;
    /* 블록요소 옆으로 흐르게 */
    float: left;

    /* 가로세로 크기나 마진값으로 %를 쓰면 기준은 싸고있는 부모박스가 되어벌인다 ㄹㅇ ㅋㅋ */
}

/* 하위 캐릭터 이미지
- .ci의 직계자식만 선택
*/
.ci>img{
    width: 100%;
}

/* 캐릭터 이름 이미지 박스 span */
.ci span {
    display: block;
    /* 원래 inline이지만 출신변경 */
    text-align: center;
    /* 블록요소 내부의 인라인 컨텐츠를 중앙에 오게함 */
    
    /* 마진탑으로 위치이동하기 */
    margin-top: -17%;
    /* 
        마진값을 마이너스로 주면 위의요소와 겹칠수있다.
        포지션을 쓰지않고 겹치게 하는 방법이다.
        일반적인 위치 이동은 마진으로 한다.
        단위로 %를 사용하면 마진에 있어서 
        margin-top은 기존 부모박스의 height값에대한 %이고 
        margin-left는 기존 부모박스의 width폭값에대한 %이다
    */
}

/* 캐릭터 이름 이미지 */
.ci span img{
    width: 30%;
}

/* 캐릭터 이름 이미지 첫번째 숨김 */
.ci span img:first-child{
    display: none;
}

/* 캐릭터 이름 첫번째이미지 .cat에 오버시 보이기 */
.cat:hover span img:first-child{
    display: inline;
}

/* 캐릭터 이름 두번째이미지 .cat에 오버시 숨기기 */
.cat:hover span img:last-child{
    display: none;
}

/* 캐릭터 설명박스 */
.cd{
    /* 배경: 색이반고위/크 */
    background: url(../images/eachBG.jpg) no-repeat center /cover;
}

/* 캐릭터 설명 타이틀 */
.cd h3{
    font-family: "궁서";
    font-size: 24px;
    font-weight: normal;
    padding: 15px 10px 5px;
    /* 줄바꿈 방지 */
    white-space: nowrap;
    letter-spacing: -1px;
}

/* 가상요소로 설명타이틀 앞에 도꺠비아이콘 넣기 */
.cd h3::before{
    content: '';
    display: inline-block;
    width: 15px; height: 30px;
    /* outline: 1px solid red; */
    background: url(../images/bg_logo_a_01.png) no-repeat right -183px;
    vertical-align: -5px;
}

/* 캐릭터 설명문단 */
.cd p{
    font-family: 궁서;
    font-size: 16px;
    line-height: 1.7;
    padding: 10px;
    text-align: justify;
}

/* 캐릭터 설명 첫번째 p요소의 첫번째 글자 가상요소로 변경하기 */
.cd p:first-of-type::first-letter{
    font-size: 30px;
    color: cyan;
    /* 글자그림자로 테두리 만들기 */
    text-shadow: 1px 0px 0px #000, 
    -1px 0px 0px #000,
    0px -1px 0px #000,
    0px 1px 0px #000;
}
