@charset "utf-8";

/* 외부 css파일은 상단에 반드시 인코딩 형식 utf-8 지정 필수! */

@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

.bxc {
    width: 750px;
    /* w750 */
    /* height: 200px; */
    /* h200 */
    padding: 10px;
    /* p10 */
    /* border: 2px solid silver; */
    margin: 20px auto;
    /* m20 */
    /* background-color: antiquewhite; */
    text-align: center;
    /* 박스크기 유지 속성 : 패딩과 보더크기 포함. */
    box-sizing: border-box;
    /* bxb */
}

/* 
    [블록박스 중앙정렬]
    margub 0px auto -> 마영오
    양쪽마진 auto의 의미는? 양쪽 마진 등분함
*/

h1 {
    color: darkcyan;
    text-shadow: 2px 2px #333;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 3rem;
    font-weight: 100;
    padding: 0px;
    margin: 15px;
}

header {
    background-color: antiquewhite;
    border: 1px solid silver;
}

footer {
    background-color: rgb(226, 224, 224);
    color: #333;
}

main>img {
    width: 85%;
}

/* gnb 메뉴 서식 */
a {
    text-decoration: none;
    color: green;
    font-weight: bold;

}

/* 메뉴 중 로고이미지 */
.nav a img {
    vertical-align: -4px;
    /* verticle-align - 인라인요소간 세로정렬
    : top, bottom, baseline, middle, 수치 
    - 인라인요소 진행방향인 오른쪽에 영향을 준다 (보통 이미지과 글자의 세로위치를 조정할때 쓴다)
    */
}

/* .nav a:hover img{
    text-decoration: none;
} */

.nav>a+a:hover {
    /* a+a:hover - 앞에 a요소가 있는 a요소 모두선택 결과적으로 첫번쨰 a만 제외됨 */
    text-decoration: underline;
}

/* a:hover{
    text-decoration: underline;
} */

a>img {
    bottom: 0px;
    vertical-align: -4px;
}

address {
    font-style: normal;
}