@charset "utf-8";
/* info PJ 서브페이지 공통 CSS - sub.css */

/* 공통클래스 불러오기 */
/* 
import로 파일 합치기
외부 CSS파일에서 다른 외부 css를 import방식으로 불러올때의 장점은?
html파일에서 link요소로 호출할 경우
http request(웹요청)이 많아져서
페이지 랜더링 속도가 더뎌진다.
따라서 이 방식을 쓰면 한번에 여러 css를 불러올 수 있어서 속도에 유리하다
*/
/* @import url(파일주소); */
@import url(common.css);

/* 서브페이지 공통 */

/* 메인영역박스 */
#cont{
    padding: 15px;
}

/* 2-1 언론사 로고 */
.prlogo img{
    height: 32px;
    /* 이미지는 가로 세로중 하나만 변경하면 나머지는 자동으로 비율 유지함 */
}

.desc, h5, .bquote, .work, .itmag, .rank, .secnews, .pnews {
    text-align: left;
}



/* 기사제목 */
.atit {
    /* 글자크기 */
    font-size: 30px;
    /* 글자 두께 보통 */
    font-weight: normal;
    /* 글자체 */
    font-family: "굴림", "궁서", sans-serif;
    /* 자간 0을 기준으로 조정 */
    letter-spacing: -2px;
    /* 단어간격 0을기준으로 조정 */
    word-spacing: -1px;
    /* 
    줄바꿈 방지 : 보통 박스는 자동으로 줄바꿈 처리하여 글자가 떨어지지만 
    nowrap으로 설정하면 글자가 줄바꿈 안되고 밖으로 나감
     */
    /* white-space: nowrap; */
}

    /* 제목 중 특정 글자만 변경 */
    .atit span {
        /* 글자색 */
        color: lightsalmon;
        /* 글자 그림자 */
        /* text-shadow: x축 y축 블러 색; */
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.322);
    }

    /* 기사이미지 박스 */
    .afig { 
        /* 마진 : 위아래 양쪽 */
        margin: 15px 0px;
    }

    /* 기사 이미지 */
    .afig img{
        /* 가로크기 : 부모박스 채움 */
        width: 100%;
    }

    /* 기사이미지 설명박스 */
    .afig figcaption{
        /* 글자정렬 중앙 */
        text-align: center;
        /* 유의사항 - 글자정렬은 블록박스에서 적용해야 내부의 인라인요소의 정렬이 변경됨
        (인라인에서 적용하면 안됨) */
        padding-bottom: 20px;
    }

    /* 기사이미지 설명글 small */
    .afig small{
        /* 글씨체 */
        font-family: gulim;
        /* 글자색 */
        color: #666;
    }

    /* 기사내용 박스 */
    .arti p {
        font-family: "굴림", sans-serif;
        /* 글자크기 */
        font-size: 17px;
        /* 줄간격 : 숫자만쓰면 배수 */
        line-height: 1.6;
        padding: 0px 10px;
    }

    /* 기타 타이틀 h3 */
    #cont h3{
        font-family: 'East Sea Dokdo', cursive;
        font-size: 30px;
        font-weight: normal;
        /* 패딩 왼쪽 */
        padding-left: 20px;
    }

    /* 공통박스 */
    #cont article {
        border-top: 2px dashed #ccc;
        margin-top: 40px;
        padding: 10px;
    }

    blockquote{
        padding: 5px;
        text-align: justify;
        font-family: "굴림", sans-serif;
        line-height: 1.7;
        font-size: 14px;
        margin: 0;
    }

    /* 메인컨텐츠 아래 a요소
    주의사항 -  글자색, 밑줄은 반드시 a요소에서 할것! */
    #cont a{
        text-decoration: none;
        color: rgba(0, 0, 255, 0.692);
        font-size: 14px;
        font-family: "돋움", "궁서";
        line-height: 2.5;
        letter-spacing: -1px;
    }

    /* a요소 마우스 오버시 :hover 가상클래스 */
    #cont a:hover{
        /* 글자 밑줄 */
        text-decoration: underline;
        color: orangered;
    }

    /* ul 블릿 타입 변경 */
    #cont ul{
        list-style: square;
    }
    
    #cont ol{
        list-style: upper-latin;
    }

    /* 분야별 뉴스 dt */
    .secnews dt {
        font-family: 'East Sea Dokdo';
        font-size: 23px;
        margin-top: 10px;
        padding-left: 28px;
    }

    /* dt 순서별 글자색 변경 */
    .secnews dt:first-of-type{
        color: darkolivegreen;
    }

    .secnews dt:nth-of-type(2){
        color: yellowgreen;
    }

    .secnews dt:last-of-type{
        color: aqua;
    }

    /* 
        [ 자식요소 순번선택하기 ]
        -> 태그가 여러종류 섞인경우

        :first-of-type 
        같은종류중 첫번쨰요소
        :nth-of-type(n)
        같은종류중 n번쨰요소
        :last-of-type
        같은종류중 마지막째요소
        ______________________
        태그종류가 한가지일때
        :first-child
        같은종류중 첫번쨰요소
        :nth-child(n)
        같은종류중 n번쨰요소
        :last-child
        같은종류중 마지막째요소
    */

    .work {
        text-align: center;
        background: lightyellow;
    }

    .work figcaption{
        padding-top: 12px;
        font-size: 14px;
    }

    .work cite{
        font-style: normal;
        color: brown;
        font-family: "궁서", sans-serif;
        font-weight: bold;
        word-spacing: -6px;
    }

    /* 사진뉴스박스 */
    .pnews table {
        margin: 0 auto;
        width: 90%;
        border-collapse: separate;
        border-spacing: 6px;
        /* 블록요소와 같이 table 도 마영오 적용 */
    }


    /* 첫번째 td - 첫번째 숫자td */
    .pnews td:first-child {
        color: red;
        height: 108px;
        background: #ccc;
        width: 50px;
        text-align: center;
    }

    .pnews td:nth-child(2){
        padding-left: 10px;
        background-color: #ffa0a0;
    }

    .pnews td:last-child{
    width: 20%;
    }

    .pnews img{
        vertical-align: middle;
        height: 110px;
        width: 100%;
    }