@charset "utf-8";
/* 기본세팅된 요소디자인 초기화 */

/* 마진 패딩 초기화 */
html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd{
    margin: 0; padding: 0;
}

/* ul, ol 불릿 없앰 */
ul, ol{
    list-style: none;
}

/* a - 글자색 밑줄없앰 */
a{
    color: #222;
    text-decoration: none;
}

/* 이미지관련 */
img{
    border: none;
    vertical-align: middle;
}