@charset "utf-8";
/* CGV PJ 미디어쿼리 */

/********************************** 미디어쿼리 1310px이하 시작 **********************************/
@media screen and (max-width:1310px) {
    /* gnb메뉴 */

    body{
        overflow-y: scroll;
    }

}/********************************** 미디어쿼리 1310px이하 끝 **********************************/






/********************************** 미디어쿼리 1050px이하 시작 **********************************/
@media screen and (max-width:1050px) {
    /* GNB메뉴 리스트 */
    .glist{
        position: absolute;
        top: 20px;
        right: -62px;
        flex-direction: column;
        white-space: nowrap;
        text-align: right;
        display: none;
        /* 처음에 숨기기 */
    }

    /* 상위메뉴 마우스 오버시 서브메뉴 숨기기 */
    .glist>li:hover .smenu{
        display: none;
    }

    /* GNB 박스에 오버시 메뉴 리스트 보이기 */
    .gnb:hover .glist{
        display: block;
    }
}/********************************** 미디어쿼리 1050px이하 끝 **********************************/







/********************************** 미디어쿼리 780px이하 시작 **********************************/
@media screen and (max-width:780px) {
    /* 하단 */
    .info{
        height: auto;
    }

    .info address{
        text-align: center;
        padding: 20px;
    }

    /* 하단로고 이미지 */
    .info img{
        margin: 0;
        float: none;
    }

    /* 주소박스 */
    .info span{
        display: block;
    }

    .sns{
        position: static;
        justify-content: center;
    }
    
}/********************************** 미디어쿼리 780px이하 끝 **********************************/






/********************************** 미디어쿼리 1111px이하 시작 **********************************/
@media screen and (max-width:1111px) {
    
}/********************************** 미디어쿼리 1111px이하 끝 **********************************/





/********************************** 미디어쿼리 1111px이하 시작 **********************************/
@media screen and (max-width:1111px) {
    
}/********************************** 미디어쿼리 1111px이하 끝 **********************************/